<body>
    <img class="background" src="assets/images/create-background.jpg" alt="background">
    <div class="title-box">
        <h2 class="faction-title">Choose your Weapon</h2>
    </div>
    <div class="factions">
        <label tabindex="1"><input type="radio" name="faction" (click)='getFaction(axe)' #axeInput>
        <img class="companions" src="assets/images/weapons/1.png" alt="axe" #axe [ngClass]="axeInput.checked ? 'companions-choosen' : 'companions'">
      </label>
        <label tabindex="2"><input type="radio" name="faction" (click)='getFaction(dagger)' #daggerInput>
        <img class="stormcloaks" src="assets/images/weapons/2.png" alt="dagger" #dagger [ngClass]="daggerInput.checked ? 'stormcloaks-choosen' : 'stormcloaks'">
      </label>
        <label tabindex="3"><input type="radio" name="faction" (click)='getFaction(mace)' #maceInput>
        <img class="thalmor" src="assets/images/weapons/3.png" alt="mace" #mace [ngClass]="maceInput.checked ? 'thalmor-choosen' : 'thalmor'">
      </label>
        <label tabindex="4"><input type="radio" name="faction"(click)='getFaction(sword)' #swordInput>
        <img class="winterhold" src="assets/images/weapons/4.png" alt="sword" #sword [ngClass]="swordInput.checked ? 'winterhold-choosen' : 'winterhold'">
      </label>
    </div>
    <div class="description-box">
        <h3 class="description">Each weapon alters different stats. You don't know what it changes, so we make this entertaining. Choose wisely!</h3>
    </div>
    <div [routerLink]="['/main-menu']" class="back-btn" tabindex="5">
        <h3>Back</h3>
    </div>
    <div [routerLink]="['/stats-page']" class="next-btn" tabindex="6">
        <h3>Next</h3>
    </div>
</body>
