body {
    background-image: url(../../../assets/images/credits-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    position: absolute;
    width: 10%;
    height: 5%;
    display: grid;
    place-items: center;
    top: 92%;
    left: 3%;
    border: 0.2vh solid silver;
    background-color: rgba(70, 70, 70, 0.5);
    transition: 0.5s;
    user-select: none;
}

.back-btn:before {
    content: "";
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
    left: -1vw;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: rgba(70, 70, 70, 0.5);
    border: 0.2vh solid silver;
}

.back-btn:hover {
    transition: 0.5s;
    background-color: rgba(245, 245, 245, 0.2);
    cursor: pointer;
}

.back-btn h3 {
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
    user-select: none;
}

.back-btn:hover h3 {
    color: white;
    transition: 0.5s;
}

.credits {
    width: 40%;
    height: 100%;
    user-select: none;
    margin-top: 100vh;
    animation: move 60s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-black {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 70, 70, 0.5);
    border-left: 0.2vw solid whitesmoke;
    border-right: 0.2vw solid whitesmoke;
}

.name,
.job {
    width: 100%;
    height: 3%;
    display: grid;
    place-items: center;
}

.name {
    margin-bottom: 5%;
}

.name h2,
.job p {
    font-family: 'Skyrim', sans-serif;
    color: darkgray;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.title {
    width: 60%;
    margin-bottom: 10%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

@keyframes move {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-370%);
    }
}
