<body>
    <div class="center-black"></div>
    <div [routerLink]="['/options']" class="back-btn" tabindex="1">
        <h3>Back</h3>
    </div>
    <div class="credits">
        <img class="title" src="assets/images/skyrim-title.png">
        <div class="title-spacer"></div>
        <div class="job">
            <p>Main Developer</p>
        </div>
        <div class="name">
            <h2>José Castro</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Web Developer</p>
        </div>
        <div class="name">
            <h2>Tom Jerry</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Graphics Designer</p>
        </div>
        <div class="name">
            <h2>Artista</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>History Teller</p>
        </div>
        <div class="name">
            <h2>Penn & Teller</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Magician</p>
        </div>
        <div class="name">
            <h2>David Blaine</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Game Tester</p>
        </div>
        <div class="name">
            <h2>Harry Houdini</h2>
        </div>
        <div class="spacer"></div>
        <div class="job">
            <p>Main Developer</p>
        </div>
        <div class="name">
            <h2>José Castro</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Web Developer</p>
        </div>
        <div class="name">
            <h2>Tom Jerry</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Graphics Designer</p>
        </div>
        <div class="name">
            <h2>Artista</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>History Teller</p>
        </div>
        <div class="name">
            <h2>Penn & Teller</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Magician</p>
        </div>
        <div class="name">
            <h2>David Blaine</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Game Tester</p>
        </div>
        <div class="name">
            <h2>Harry Houdini</h2>
        </div>
        <div class="spacer"></div>
        <div class="job">
            <p>Main Developer</p>
        </div>
        <div class="name">
            <h2>José Castro</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Web Developer</p>
        </div>
        <div class="name">
            <h2>Tom Jerry</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Graphics Designer</p>
        </div>
        <div class="name">
            <h2>Artista</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>History Teller</p>
        </div>
        <div class="name">
            <h2>Penn & Teller</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Magician</p>
        </div>
        <div class="name">
            <h2>David Blaine</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Game Tester</p>
        </div>
        <div class="name">
            <h2>Harry Houdini</h2>
        </div>
        <div class="spacer"></div>
        <div class="job">
            <p>Main Developer</p>
        </div>
        <div class="name">
            <h2>José Castro</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Web Developer</p>
        </div>
        <div class="name">
            <h2>Tom Jerry</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Graphics Designer</p>
        </div>
        <div class="name">
            <h2>Artista</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>History Teller</p>
        </div>
        <div class="name">
            <h2>Penn & Teller</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Magician</p>
        </div>
        <div class="name">
            <h2>David Blaine</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Game Tester</p>
        </div>
        <div class="name">
            <h2>Harry Houdini</h2>
        </div>
        <div class="spacer"></div>
        <div class="job">
            <p>Main Developer</p>
        </div>
        <div class="name">
            <h2>José Castro</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Web Developer</p>
        </div>
        <div class="name">
            <h2>Tom Jerry</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Graphics Designer</p>
        </div>
        <div class="name">
            <h2>Artista</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>History Teller</p>
        </div>
        <div class="name">
            <h2>Penn & Teller</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Magician</p>
        </div>
        <div class="name">
            <h2>David Blaine</h2>
        </div>
        <div class="spacer"></div>

        <div class="job">
            <p>Game Tester</p>
        </div>
        <div class="name">
            <h2>Harry Houdini</h2>
        </div>
        <div class="spacer"></div>
    </div>
</body>