/* Main Menu Background */

body {
    background-image: url(../../../assets/images/main-menu-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
}


/* Title "ELDER SCROLLS V: SKYRIM" */

.main-title {
    position: absolute;
    width: 35%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}


/* Select Menu */

.menu {
    position: absolute;
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5vh;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}


/* Menu item */

.menu-item {
    width: 70%;
    height: calc(100%/8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2vh solid silver;
    background-color: rgba(70, 70, 70, 0.5);
    position: relative;
    transition-duration: 0.3s;
}

.menu-item:before,
.menu-item:after {
    content: "";
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: rgba(70, 70, 70, 0.5);
    border: 0.2vh solid silver;
}

.menu-item:before {
    left: -8%;
}

.menu-item:after {
    right: -8%;
}


/* text inside menu items */

.menu-item h3 {
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
    user-select: none;
}


/* hovering menu item */

.menu-item:hover {
    background-color: rgba(245, 245, 245, 0.2);
}

.menu-item:hover h3 {
    color: white;
    transition: 0.5s;
}