<body>
    <img class="main-title" src="assets/images/skyrim-title.png">
    <app-login *ngIf="login != '1'"></app-login>
    <div class="menu" *ngIf="login == '1'">
        <div tabindex="1" [routerLink]="['/create-caracter']" class="menu-item">
            <h3>Start Game</h3>
        </div>
        <div tabindex="2" [routerLink]="['/fight']" class="menu-item">
            <h3>Fight</h3>
        </div>
        <div tabindex="3" [routerLink]="['/training']" class="menu-item">
            <h3>Training</h3>
        </div>
        <div [routerLink]="['/options']" tabindex="4" class="menu-item">
            <h3>Options</h3>
        </div>
        <div tabindex="5" class="menu-item" (click)="closePage()">
            <h3>Quit</h3>
        </div>
    </div>
</body>